<!-- START CONTACT -->
<section class="section agency-contact" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="heading-title-title letter-spacing_4 text-uppercase">Kontak Kami</h2>
                    <p class="heading-title-desc text-muted mt-4">Mari Konsultasikan Proyek Anda! Kami siap membantu mewujudkan rencana Anda.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5 pt-3 align-items-center">
            <div class="col-lg-6">
                <div class="mt-4">
                    <div style="background-image: url('images/map.png'); background-repeat: no-repeat" class="pb-3">
                        <div class="mt-3">
                            <div class="agency-contact-icon float-start">
                                <i class="pe-7s-map-marker"></i>
                            </div>
                            <div class="agency-contact-info ps-4">
                                <p class="text-muted">Jl. Kapten Musa no 39 Rt 04/10 Kec. Solokpandan
                                    <br/>Kab. Cianjur, Jawa Barat, Indonesia</p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="agency-contact-icon float-start">
                                <i class="pe-7s-phone"></i>
                            </div>
                            <div class="agency-contact-info ps-4">
                                <p class="text-muted">Phone:<a href="https://api.whatsapp.com/send?phone=6285780007121&text=Halo%20saya%20ingin%20konsultasi%20tentang"> +62 857 8000 7121</a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="agency-contact-icon float-start">
                                <i class="pe-7s-date"></i>
                            </div>
                            <div class="agency-contact-info ps-4">
                                <p class="text-muted">Senin-Jumat: 08.00-17.00
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="agency-contact-icon float-start">
                                <i class="pe-7s-mail"></i>
                            </div>
                            <div class="agency-contact-info ps-4">
                                <p class="text-muted">Email: <a href="mailto:arunika.mandala@gmail.com">arunika.mandala@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-4">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d495.2002422436778!2d107.14602400000001!3d-6.818173!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6852fe5c5a7b6b%3A0x521c2eba5512edf2!2sPt.%20Arunika%20Mandala%20Asri!5e0!3m2!1sen!2sid!4v1711900545591!5m2!1sen!2sid" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="alamat AMA Contractor"></iframe>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT -->