<!-- START COUNTER -->
<section class="section cta">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row" id="counter">
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="counter-icon">
                        <i class="pe-7s-like"></i>
                    </div>
                    <h2 class="counter-count mt-4 text-white">
                        <span class="counter_value" id="count1" class="display-4"></span>
                    </h2>
                    <h3 class="mt-3 text-uppercase f-13 text-light letter-spacing_2">Projects In Progress</h3>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div class="counter-icon">
                        <i class="pe-7s-smile"></i>
                    </div>
                    <h2 class="counter-count mt-4 text-white">
                        <span class="counter_value" id="count2" class="display-4"></span>
                    </h2>
                    <h3 class="mt-3 text-uppercase f-13 text-light letter-spacing_2">Happy Clients</h3>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div class="counter-icon">
                        <i class="pe-7s-anchor"></i>
                    </div>
                    <h2 class="counter-count mt-4 text-white">
                        <span class="counter_value" id="count3" class="display-4"></span>
                    </h2>
                    <h3 class="mt-3 text-uppercase f-13 text-light letter-spacing_2">Projects Completed</h3>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div class="counter-icon">
                        <i class="pe-7s-user"></i>
                    </div>
                    <h2 class="counter-count mt-4 text-white">
                        <span class="counter_value" id="count4" class="display-4"></span>
                    </h2>
                    <h3 class="mt-3 text-uppercase f-13 text-light letter-spacing_2">Employee</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END COUNTER -->