<section class="section bg-construction-cta">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="construction-cta-content text-white text-center">
                    <h2 class="construction-cta-title text-uppercase line-height_1_4 letter-spacing_2">AMA Contractor</h2>
                    <p class="mt-4 text-white-50">Kontraktor berpengalaman & terpercaya di Cianjur dan Jawa Barat sekitarnya. Kami  menggunakan material terbaik, mengerjakan proyek dengan teliti, dan menyelesaikannya tepat sesuai jadwal dan budget Anda.</p>
                    <div class="mt-4 pt-3">
                        <a href="https://api.whatsapp.com/send?phone=6281224506024&text=Halo%20saya%20ingin%20konsultasi%20tentang"  class="btn btn-md btn-white">Konsultasi Sekarang</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>