<!-- START FOOTER --><!-- <footer class="section blog-bg-footer pb-5"> -->
<footer class="blog-bg-footer">
  <div class="container">
    <!-- <div class="row">
    
                    <div class="col-lg-3">
                        <div>
                            <h6 class="footer-heading text-uppercase font-weight-bold f-16">Resources</h6>
                            <ul class="list-unstyled footer-link mt-3 mb-0">
                                <li><a href="javascript:void(0)">Monitoring Grader </a></li>
                                <li><a href="javascript:void(0)">Video Tutorial</a></li>
                                <li><a href="javascript:void(0)">Term &amp; Service</a></li>
                        </div>
                    </div>
    
                    <div class="col-lg-3">
                        <div>
                            <h6 class="footer-heading text-uppercase font-weight-bold f-16">Help</h6>
                            <ul class="list-unstyled footer-link mt-3 mb-0">
                                <li><a href="javascript:void(0)">Sign Up </a></li>
                                <li><a href="javascript:void(0)">Login</a></li>
                                <li><a href="javascript:void(0)">Terms of Services</a></li>
                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div>
                            <h6 class="footer-heading text-uppercase font-weight-bold f-16">Latest News</h6>
                            <div class="mt-4 pt-2">
                                <div class="left-recent-content">
                                    <div class="left-recent-img float-start pe-3">
                                        <a href="javascript:void(0)">
                                            <img src="images/background/bg-14.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <h5 class="f-12 text-uppercase">
                                            <a href="javascript:void(0)" class="left-recent-title">Beautiful day friends..</a>
                                        </h5>
                                        <p class="mt-2 f-13 text-muted">September 14, 2017</p>
                                    </div>
                                </div>
    
                                <div class="left-recent-content mt-1">
                                    <div class="left-recent-img float-start pe-3">
                                        <a href="javascript:void(0)">
                                            <img src="images/background/bg-16.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="pt-1">
                                        <h5 class="f-12 text-uppercase">
                                            <a href="javascript:void(0)" class="left-recent-title">Nature valley cooling..</a>
                                        </h5>
                                        <p class="mt-2 f-13 text-muted">September 14, 2017</p>
                                    </div>
                                </div>
    
                                <div class="left-recent-content mt-1">
                                    <div class="left-recent-img float-start pe-3">
                                        <a href="javascript:void(0)">
                                            <img src="images/background/bg-17.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="pt-1">
                                        <h5 class="f-12 text-uppercase">
                                            <a href="javascript:void(0)" class="left-recent-title">Best Healthy Salad..</a>
                                        </h5>
                                        <p class="mt-2 f-12 text-muted">September 14, 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-2">
                        <div>
                            <h6 class="footer-heading text-uppercase font-weight-bold f-16">Information</h6>
                            <ul class="list-unstyled footer-link mt-3 mb-0">
                                <li><a href="javascript:void(0)">Pages</a></li>
                                <li><a href="javascript:void(0)">Our Team</a></li>
                                <li><a href="javascript:void(0)">Feuchers</a></li>
                                <li><a href="javascript:void(0)">Pricing</a></li>
                            </ul>
                        </div>
                    </div>
    
                </div> -->

    <div class="row mt-2">
      <div class="col-lg-12">
        <div class="agency-footer-alt-content p-4">
          <p class="copy-right text-center mb-0" id="copyright"></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
