 <!-- START HERO-HOME -->
 <section class="section construction-home" id="home">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row">
                    <div class="construction-home-content text-center text-white">
                        <h1 class="construction-home-title line-height_1_6 text-uppercase letter-spacing_4">
                                AMA Contractor <br> Layanan Kontraktor Profesional</h1>
                        <div class="construction-home-border mt-4"></div>
                        <p class="construction-home-desc f-16 mt-4 mx-auto line-height_1_8">Lebih dari sekadar membangun atau merenovasi, kami membantu Anda mewujudkan properti yang sesuai dengan mimpi dan kebutuhan Anda.</p>
                        <div class="mt-4 pt-3">
                             <a href="https://api.whatsapp.com/send?phone=6285780007121&text=Halo%20saya%20ingin%20konsultasi%20tentang" class="btn btn-md btn-custom">Konsultasi Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HERO-HOME -->