<!-- START SERVICES -->
<section class="section construction-services" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="heading-title-title letter-spacing_4 text-uppercase">Mengapa Memilih Kami Sebagai Kontraktor Anda</h2>
                    <p class="heading-title-desc text-muted mt-4">Membangun atau merenovasi properti merupakan proyek besar yang membutuhkan mitra terpercaya. Sebagai kontraktor berpengalaman di Cianjur dan Jawa Barat, kami memahami kebutuhan Anda dan siap membantu mewujudkan impian Anda.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5 pt-3">
            <div class="col-lg-4">
                <div class="construction-services-box mt-4">
                    <div class="construction-services-img">
                        <img src="images/icons/rulers.png" class="img-fluid" alt="ama-contractor-pengalaman-lokal" loading="lazy" width="36" height="24">
                    </div>
                    <div class="construction-services-content mt-3">
                        <h3 class="f-15 letter-spacing_2 text-uppercase mt-3">Pengalaman Lokal</h3>
                        <p class="mb-0 text-muted mt-3">Tim ahli kami memahami kondisi tanah, iklim, & budaya di Cianjur & Jawa Barat. Kami merancang & membangun struktur kokoh & sesuai kebutuhan Anda.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="construction-services-box mt-4">
                    <div class="construction-services-img">
                        <img src="images/icons/tools.png" class="img-fluid" alt="ama-contractor-tenaga-ahli-terpercaya" loading="lazy" width="36" height="24">
                    </div>
                    <div class="construction-services-content mt-3">
                        <h4 class="f-15 letter-spacing_2 text-uppercase mt-3">Keahlian Terpercaya</h4>
                        <p class="mb-0 text-muted mt-3">Tim profesional kami berpengalaman di berbagai bidang konstruksi, termasuk, termasuk pembangunan rumah baru, renovasi rumah, bangunan komersial, bangunan umum, dan infrastruktur publik.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="construction-services-box mt-4">
                    <div class="construction-services-img">
                        <img src="images/icons/desktop.png" class="img-fluid" alt="ama-contractor-bahan-berkualitas" loading="lazy" width="36" height="24">
                    </div>
                    <div class="construction-services-content mt-3">
                        <h4 class="f-15 letter-spacing_2 text-uppercase mt-3">Bahan Berkualitas</h4>
                        <p class="mb-0 text-muted mt-3">Kami  menggunakan material terbaik, mengerjakan proyek dengan teliti, dan menyelesaikannya tepat sesuai jadwal dan budget Anda.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="construction-services-box mt-4">
                    <div class="construction-services-img">
                        <img src="images/icons/briefcase.png" class="img-fluid" alt="ama-contractor-harga-transparan" loading="lazy" width="36" height="24">
                    </div>
                    <div class="construction-services-content mt-3">
                        <h4 class="f-15 letter-spacing_2 text-uppercase mt-3">Harga Transparan dan Kompetitif</h4>
                        <p class="mb-0 text-muted mt-3">Kami menawarkan harga yang transparan dan kompetitif tanpa mengurangi kualitas layanan.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="construction-services-box mt-4">
                    <div class="construction-services-img">
                        <img src="images/icons/drawing-tablet.png" class="img-fluid" alt="ama-contractor-komunikasi-jelas" loading="lazy" width="36" height="24">
                    </div>
                    <div class="construction-services-content mt-3">
                        <h4 class="f-15 letter-spacing_2 text-uppercase mt-3">Komunikasi yang Jelas</h4>
                        <p class="mb-0 text-muted mt-3">Kami percaya komunikasi adalah kunci. Kami selalu memberi informasi terbaru tentang proyek Anda dan menjawab pertanyaan Anda dengan senang hati.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="construction-services-box mt-4">
                    <div class="construction-services-img">
                        <img src="images/icons/presentation.png" class="img-fluid" alt="ama-contractor-jujur-amanah-bertanggung-jawab" loading="lazy" width="36" height="24">
                    </div>
                    <div class="construction-services-content mt-3">
                        <h4 class="f-15 letter-spacing_2 text-uppercase mt-3">Jujur, Amanah, dan Bertanggung Jawab</h4>
                        <p class="mb-0 text-muted mt-3">Kami menjunjung tinggi nilai-nilai kejujuran, amanah, dan tanggung jawab dalam setiap pekerjaan yang kami lakukan.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- END SERVICES -->