---
import { Image } from "astro:assets";
---

<!--start WORK-->
<section class="section portfolio business-portfolio" id="work">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2 class="heading-title-title letter-spacing_4 text-uppercase">Lihat Portofolio Kami</h2>
                    <p class="heading-title-desc text-muted mt-4 mb-0"> Wujudkan Mimpi Anda. Lihat bagaimana kami membantu klien lain mewujudkan impian mereka.</p>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-8">
                <div class="filters-group-wrap mt-5 pt-3">
                    <div class="filters-group">
                        <ul class="nav filter-options list-unstyled list-inline justify-content-center">
                            <li data-group="all" class="active nav-link list-inline-item mt-2"
                                style="cursor: pointer;">
                                All</li>
                            <li data-group="rumah" class="nav-link list-inline-item mt-2" style="cursor: pointer;">
                                Rumah Hunian</li>
                            <li data-group="komersial" class="nav-link list-inline-item mt-2"
                                style="cursor: pointer;">
                                Tempat Usaha</li>
                            <li data-group="infrastruktur" class="nav-link list-inline-item mt-2" style="cursor: pointer;">
                                Infrastruktur Publik</li>
                            <li data-group="bangunan" class="nav-link list-inline-item mt-2" style="cursor: pointer;">
                                Bangunan Umum</li>
                        </ul>
                        <!--end portfolio-list-->
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <div class="container mt-5">
        <div class="row g-0" id="grid">
            <div class="col-lg-4  picture-item" data-groups='["rumah"]'>
                <div class="gallary-box m-3 portfolio">
                    <a class="lightbox port" href="/images/works/work-1.webp" title="Rumah Pribadi" >
                        <Image class="gallary-container" src="/images/works/work-1.webp" alt="rumah-pribadi" loading="lazy" height="240" width="426" />
                        <div class="item-effect">
                            <div class="item-caption text-center bg-primary text-white p-3">
                                <h3 class="f-14 letter-spacing_2 text-uppercase mb-0">Rumah Pribadi</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4  picture-item" data-groups='["infrastruktur"]'>
                <div class="gallary-box m-3 portfolio">
                    <a class="lightbox port" href="/images/works/work-2.webp" title="Lapangan SMPN 53">
                        <Image class="gallary-container" src="/images/works/work-2.webp" alt="Lapangan SMPN 53" loading="lazy" height="240" width="426" />
                        <div class="item-effect">
                            <div class="item-caption text-center bg-primary text-white p-3">
                                <h3 class="f-14 letter-spacing_2 text-uppercase mb-0">Lapangan SMPN 53</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end portfolio-->
            </div>
            <!--end col-->
            <div class="col-lg-4  picture-item" data-groups='["komersial"]'>
                <div class="gallary-box m-3 portfolio">
                    <a class="lightbox port" href="/images/works/work-3.webp" title="Dejima Cafe">
                        <Image class="gallary-container" src="/images/works/work-3.webp" alt="Dejima Cafe" loading="lazy" height="240" width="426" />
                        <div class="item-effect">
                            <div class="item-caption text-center bg-primary text-white p-3">
                                <h3 class="f-14 letter-spacing_2 text-uppercase mb-0">Dejima Cafe</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end portfolio-->
            </div>
            <!--end col-->
            <div class="col-lg-4  picture-item" data-groups='["infrastruktur"]'>
                <div class="gallary-box m-3 portfolio">
                    <a class="lightbox port" href="/images/works/work-4.webp" title="Pengaspalan Desa Cidadap">
                        <Image class="gallary-container" src="/images/works/work-4.webp" alt="Pengaspalan Desa Cidadap" loading="lazy" height="240" width="426" />
                        <div class="item-effect">
                            <div class="item-caption text-center bg-primary text-white p-3">
                                <h3 class="f-14 letter-spacing_2 text-uppercase mb-0">Pengaspalan Desa Cidadap</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end portfolio-->
            </div>
            <!--end col-->
            <div class="col-lg-4  picture-item" data-groups='["bangunan"]'>
                <div class="gallary-box m-3 portfolio">
                    <a class="lightbox port" href="/images/works/work-5.webp" title="Pembangunan SD">
                        <Image class="gallary-container" src="/images/works/work-5.webp" alt="Pembangunan SD" loading="lazy" height="240" width="426" />
                        <div class="item-effect">
                            <div class="item-caption text-center bg-primary text-white p-3">
                                <h3 class="f-14 letter-spacing_2 text-uppercase mb-0">Pembangunan SD</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end portfolio-->
            </div>
            <!--end col-->
            <div class="col-lg-4  picture-item" data-groups='["infrastruktur"]'>
                <div class="gallary-box m-3 portfolio">
                    <a class="lightbox port" href="/images/works/work-6.webp" title="Pembuatan Saluran Air Hutan Villa Pinus">
                        <Image class="gallary-container" src="/images/works/work-6.webp" alt="Pembuatan Saluran Air Hutan Villa Pinus" loading="lazy" height="240" width="426" />
                        <div class="item-effect">
                            <div class="item-caption text-center bg-primary text-white p-3">
                                <h3 class="f-14 letter-spacing_2 text-uppercase mb-0">Pembuatan Saluran Air Hutan Villa Pinus</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end portfolio-->
            </div>

            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="container-partnership rounded">
                <div class="slider">
                  <div class="logos">
                   <Image src="/images/partnership/1.png" class="partnership-logo" alt="Partnership Adhi" loading="lazy" width="128" height="128" />
                   <Image src="/images/partnership/2.png" class="partnership-logo" alt="Partnership Tirtamukti" loading="lazy" width="128" height="128" />
                   <Image src="/images/partnership/3.png" class="partnership-logo" alt="Partnership RSUD Cianjur" loading="lazy" width="128" height="128" />
                   <Image src="/images/partnership/4.png" class="partnership-logo" alt="Partnership Faber Castell" loading="lazy" width="128" height="128" />
                   <Image src="/images/partnership/5.png" class="partnership-logo" alt="Partnership Gapensi" loading="lazy" width="128" height="128" />
                   <Image src="/images/partnership/6.png" class="partnership-logo" alt="Partnership Universitas Suryakancana" loading="lazy" width="128" height="128" />
                   <Image src="/images/partnership/7.png" class="partnership-logo" alt="Partnership Sugih Mukti" loading="lazy" width="128" height="128" />
                  </div>
                  <div class="logos">
                    <Image src="/images/partnership/8.png" class="partnership-logo" alt="Partnership Wibawa Mukti Kerta Raharja" loading="lazy" width="128" height="128" />
                    <Image src="/images/partnership/9.png" class="partnership-logo" alt="Partnership Wakaf Salman" loading="lazy" width="128" height="128" />
                    <Image src="/images/partnership/10.png" class="partnership-logo" alt="Partnership Pemuda Cianjur" loading="lazy" width="128" height="128" />
                    <Image src="/images/partnership/11.png" class="partnership-logo" alt="Partnership BPBD Cianjur" loading="lazy" width="128" height="128" />
                    <Image src="/images/partnership/12.png" class="partnership-logo" alt="Partnership Disperkin" loading="lazy" width="128" height="128" />
                    <Image src="/images/partnership/13.png" class="partnership-logo" alt="Partnership Kemenpora" loading="lazy" width="128" height="128" />
                    <Image src="/images/partnership/14.png" class="partnership-logo" alt="Partnership Nippon Paint" loading="lazy" width="128" height="128" />
                    <Image src="/images/partnership/15.png" class="partnership-logo" alt="Partnership BUMN" loading="lazy" width="128" height="128" />
                   </div>
                </div>
        </div>
    </div>
    <!--end container-fluid-->
</section>
<!--end WORK-->